:root {
    --orange: #FF4600
}
body{
    margin: 0px;
    font-family:-apple-system, BlinkMacSystemFont, Glacial Indifference, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x: hidden;
}
.recipe-section{
    background-color: #F6FBFB;
    display: flex;
}
header{
    background-color: #F6FBFB;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 3;
}
.logo-name{
    display: flex;
    margin-top: 30px;
}
p span {
    color: #fba500;
}
.logo img{
    width: 150px;
    margin-top: 10px;
    margin-left: 100px;
}
.navbar{
    display: flex;
    margin-top: 30px;
    margin-left: 250px;
    margin-bottom: 15px;
}
.navbar a{
    text-decoration: none;
    color: black;
    margin-left: 25px;
    font-weight: 600;
}
.navbar a:hover{
    color: var(--orange);
}
input[type=text]{
    background-color: white;
    color: black;
    border-color: #707070;
    border-width: 0.1px;
    border-radius: 5px;
    padding: 10px 10px 10px 30px;
    margin-left: 50px;
    margin-top: 40px;
}
::placeholder { 
    color: black;
    opacity: 1;
  }
  
  :-ms-input-placeholder { 
    color: black;
  }
  
  ::-ms-input-placeholder {
    color: black;
}
/*recipes*/
.recipe-section h3{
    margin: 0px;
    font-size: 60px;
    padding-top: 0px;
    margin-left: 100px;
}
.recipe-section h3{
    font-size: 60px;
    font-weight: 200;
    margin: 0px;
    margin-left: 100px;
}
.recipe-section h3{
    font-size: 50px;
    font-weight: 200;
    margin: 0px;
    margin-left: 100px;
}
.recipe-section p{
    margin-left: 100px;
    width: 450px;
    margin-top: 8px;
}
.recipe-section input[type=text]{
    background-color: white;
    color: black;
    border:none;
    border-radius: 3px;
    padding: 12px 240px 12px 15px;
    margin-left: 100px;
    margin-top: 30px;
    margin-bottom: 15px;
}
.recipe-section-buttons{
    display: flex;
}
.recipe-section-buttons p{
    margin-left: 30px;
    width: 15px;
    color: #fba500;
    margin-right: 30px;
}

button.explore{
    padding: 12px 50px 12px 50px;
    background-color: #fba500;
    color: white;
    border-radius: 50px;
    margin-left: 100px;
    border-color: #fba500;
    cursor: pointer;
}
button.explore-border{
    padding: 22px 120px 20px 100px;
    background-color: transparent;
    border-radius: 50px;
    position :absolute;
    top: 512px;
    left: 115px;
    border-color: #fba500;
    cursor: pointer;
    border-top:none;
    border-left: none;
    /* z-index: 0; */
}
.recipe-section-image img{
    width: 700px;
    margin-left: 150px;
    margin-top: 60px;
    margin-bottom: 50px;
}
/*country-search*/
.country-search{
    display: flex;
}
.country-search-image{
    display: flex;
    margin-top: 70px;
}
.country-search p{
    margin: 0px;
}
.country-search-written{
    /* display: flex; */
    margin-left: 150px;
    padding-top: 60px;
}
p.black{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
}
p.normal{
    font-size: 12px;
    width: 450px;
    line-height: 20px;
}
.section2-button{
    display: flex;
}
button.explore-menu{
    /* border: none; */
    padding: 12px 30px 12px 30px;
    background-color: #fba500;
    color: white;
    border-radius: 50px;
    border-color: #fba500;
    margin-top: 30px;
    cursor: pointer;
}
button.explore-menu-border{
    padding: 20px 100px 20px 62px;
    background-color: transparent;
    border-radius: 50px;
    position: absolute;
    top: 1112px;
    left: 807px;
    border-color: #fba500;
    cursor: pointer;
    border-top:none;
    border-left: none;
}
/*cards*/
.card-image img{
    width: 350px;
    margin-left: -105px;
    margin-top: -150px;
    margin-bottom: 10px;
}
.menu{
    padding-top: 130px;
    display: flex;
    width: 50px;
    margin-left: 0px;
    margin-top: 100px;
}
p.dish-name{
    font-size: 20px;
    font-weight: 700;
    margin-top: 5px;
    margin-left: 15px;
}
p.dish-specification{
    font-size: 15px;
    font-weight: 600;
    margin-top: 10px;
    margin-left: 5px;
}
p.dish-price{
    font-size: 15px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 100px;
    margin-left: 30px;
}
.card{
    -moz-box-shadow:    3px 3px 50px 6px black;
  -webkit-box-shadow: 3px 3px 50px 6px #ccc;
  box-shadow:         3px 3px 20px 6px #ccc;
  border-radius: 40px;
  width: 10%;
  height: 60%;
  margin-left: 50px;
  padding: 50px;
}
/*nutrition*/
.nutrition-written{
    /* display: flex; */
    margin-left: 150px;
    margin-top: 100px;
    padding-top: 0px;
}
.nutrition-image{
    display: flex;
    margin-top: 10px;
}
button.find-recipes{
    /* border: none; */
    padding: 12px 30px 12px 30px;
    background-color: #fba500;
    color: white;
    border-radius: 50px;
    border-color: #fba500;
    margin-top: 30px;
    margin-left: -20px;
    cursor: pointer;
}
button.find-recipes-border{
    padding: 20px 90px 22px 65px;
    background-color: transparent;
    border-radius: 50px;
    position: absolute;
    top: 1610px;
    left: 137px;
    border-color: #fba500;
    cursor: pointer;
    border-top:none;
    border-left: none;
}
.nutrition-section-image img{
    width: 600px;
    margin-left: 150px;
    margin-top: -70px;
    margin-bottom: 0px;
}
.nutrition-image h3{
    font-size: 30px;
    font-weight: 700;
    margin: 0px;
    margin-left: -20px;
}
.nutrition-image p{
    margin-left: -20px;
    width: 450px;
    margin-top: 8px;
}
/*beverages*/
.beverage-written{
    /* display: flex; */
    margin-left: 150px;
    margin-top: 100px;
    padding-top: 0px;
}
.beverage-image{
    display: flex;
    margin-top: 10px;
}
button.beverage-recipes{
    /* border: none; */
    padding: 12px 30px 12px 30px;
    background-color: #fba500;
    color: white;
    border-radius: 50px;
    border-color: #fba500;
    margin-top: 30px;
    margin-left: -20px;
    cursor: pointer;
}
button.beverage-recipes-border{
    padding: 20px 120px 22px 70px;
    background-color: transparent;
    border-radius: 50px;
    position: absolute;
    top: 2055px;
    left: 688px;
    border-color: #fba500;
    cursor: pointer;
    border-top:none;
    border-left: none;
}
.beverage-section-image img{
    width: 400px;
    margin-left: 150px;
    margin-top: -50px;
    margin-bottom: 0px;
}
.beverage-image h3{
    font-size: 30px;
    font-weight: 700;
    margin: 0px;
    margin-left: -20px;
}
.beverage-image p{
    margin-left: -20px;
    width: 450px;
    margin-top: 8px;
}
/*category-search*/
.category-search-written{
    /* display: flex; */
    margin-left: 150px;
    margin-top: 100px;
    padding-top: 0px;
}
.category-search-image{
    display: flex;
    margin-top: 50px;
}
button.category-search-recipes{
    /* border: none; */
    padding: 12px 30px 12px 30px;
    background-color: #fba500;
    color: white;
    border-radius: 50px;
    border-color: #fba500;
    margin-top: 30px;
    margin-left: -20px;
    cursor: pointer;
}
button.category-search-recipes-border{
    padding: 20px 120px 22px 60px;
    background-color: transparent;
    border-radius: 50px;
    position: absolute;
    top: 2460px;
    left: 135px;
    border-color: #fba500;
    cursor: pointer;
    border-top:none;
    border-left: none;
}
.category-search-section-image img{
    width: 600px;
    margin-left: 150px;
    margin-top: -20px;
    margin-bottom: 0px;
}
.category-search-image h3{
    font-size: 30px;
    font-weight: 700;
    margin: 0px;
    margin-left: -20px;
}
.category-search-image p{
    margin-left: -20px;
    width: 450px;
    margin-top: 8px;
}
/* footer */
footer{
    background-color: #F6FBFB;
}
.footer{
    display: flex;
}
.footer-logo-name{
    display: flex;
    margin-top: 85px;
    margin-left: -300px;
    margin-right: 200px;;
}
p span {
    color: #fba500;
}
.footer-column1 img{
    width: 100px;
}
.footer-column1 p{
    font-size: 14px;
}
.footer-column1{
    width: 400px;
    margin: 80px 0px 40px 100px;
}
.footer-column2,.footer-column3{
    width: 150px;
    margin-left: 60px;
}
.footer-column2 a,.footer-column3 a,.footer-column4 a{
    color: black;
    text-decoration: none;
    font-size: 14px;
    margin-bottom: 100px;
}
.footer-column2 h2,.footer-column3 h2,.footer-column4 h2{
    font-size: 20px;
    margin-top: 50px;
}